---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 90
MaxEmptyLinesToKeep: 8

# INDENTATION
IndentWidth: 4
AccessModifierOffset: -2
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 1
ConstructorInitializerIndentWidth: 0
NamespaceIndentation: All
UseTab: Never

# STRING FORMATTING STYLE
AlwaysBreakBeforeMultilineStrings: true
BreakAdjacentStringLiterals: true
BreakStringLiterals: true

# FUNCTION FORMATTING
BreakAfterReturnType: None
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
# CONSTRUCTOR STYLE
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

# BRACE WRAPPING
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterFunction: true
    AfterNamespace: true
    SplitEmptyFunction: false 
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
    AfterEnum: false
    AfterStruct: false

# OPERATORS
AlignConsecutiveAssignments:
    Enabled: true
    AlignCompound: true
RemoveSemicolon: true


# SWITCH/CASE STATEMENT FORMATTING
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AlignCaseColons: true

# MISCELLANEOUS
FixNamespaceComments: false
IncludeBlocks: Merge
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2