---
Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 90
MaxEmptyLinesToKeep: 16
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false 
  BeforeElse: false
  BeforeLambdaBody: false
  AfterControlStatement: Never
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# INDENTATION
IndentWidth: 4
AccessModifierOffset: -2
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 0
NamespaceIndentation: All
UseTab: Never

# STRING FORMATTING STYLE
AlwaysBreakBeforeMultilineStrings: false
BreakAdjacentStringLiterals: true
BreakStringLiterals: true

# FUNCTION FORMATTING
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
BreakAfterReturnType: None
# BreakFunctionDefinitionParameters: true

# CONSTRUCTOR STYLE
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

# OPERATORS
AlignConsecutiveAssignments: AcrossComments
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: All
BreakBinaryOperations: OnePerLine
RemoveSemicolon: true

# SWITCH/CASE STATEMENT FORMATTING
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AlignCaseColons: true

# MISCELLANEOUS
FixNamespaceComments: false
Cpp11BracedListStyle: true
IncludeBlocks: Merge
BreakTemplateDeclarations: true
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2