# Ignore build files, but keep root build dirs 
build/dev/*
build/latest/*

# Ignore Tests for now
tests/data/*
tests/sandbox.cpp

# VS Code
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
